<div class="back" lang="zh-Hans">
<div  style="text-align:center">
<span class="huge japanese color2" style="text-align:center">{{ removeSpaces .SimplifiedChinese}}</span>
<br>
<br>
<span class="medium japanese" style="text-align:center">{{ removeSpaces .SimplifiedChinese}}</span>
</div>
</div>
